@using Rangamo.Models
@{
    ViewBag.Title = "Cart";
}

<h2>Cart</h2>

<table cellpadding="2" cellspacing="2" border="1">
    <tr>
        <th>Optional</th>
        <th>Id</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Sub Total</th>
    </tr>
    @if (Session.Count > -1)
    {
        double s = 0;
        try {
            foreach (Item item in (List<Item>)Session["cart"])
            {
                s += (Convert.ToDouble(item.Product.SellingPrice)) * (Convert.ToDouble(item.Quantity));
            <tr>
                <td>@Html.ActionLink("Remove Item", "Delete", "Cart", new { id = item.Product.ProductId }, null)</td>
                <td>@item.ItemId</td>
                <td>
                    <img src="@Url.Content("~/Content")/Images/@item.Product.Photo"
                         width="120" height="100" class="glyphicon-picture" />
                    <input type="hidden" class="productId" value="@item.Product.ProductId" />
                </td>
                <td>@item.Product.Title</td>
                <td>R @item.Product.SellingPrice</td>
                <td>@item.Quantity</td>
                <td>R @(item.Product.SellingPrice * item.Quantity)</td>
            </tr>
            }
        }
        catch (Exception)
        {
            <tr><td>THE CART IS EMPTY </td></tr>
        }
        <tr>
            <th align="right" colspan="5">Sum</th>
            <td>R @s</td>
        </tr>
    }
    <tr>
        <td>
            @if(Session.Count==-1)
            {
            @Html.Display(Session["cart"].ToString());
            }
        </td>
        </tr>
</table>
<p>
    <br /><br />
    @Html.ActionLink("Continue Shopping", "index", "Catalogue")
    <br /><br />
    @*@Html.ActionLink("Check Out", "CreateTestMessage", "ShoppingCart")*@
</p>