@model Rangamo.Models.InventoryItems

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InventoryItems</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReOrderQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReOrderQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityOnHand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityOnHand)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InventoryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
